html {background: 0 0;}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f0f0f0;
}

main {margin-bottom: 4rem;}

a {
    text-decoration-color: darkslategrey;

    &:hover {text-decoration: none; color: darkslategray;}
}

//Necessary for footer to stick to the bottom
footer{margin-top: auto;}
.root-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}