/*MINI BASKET*/

.mini-basket {
    margin-top: 2rem;

    & .mini-basket-items {
        max-height: 12rem; overflow-y: scroll;
    }
}

/*MAIN BASKET*/
.title-with-link {
    display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; margin-bottom: 3rem;
}