//Section spacing
.section-spacer-top {margin-top: 4rem;}
.section-spacer-bottom {margin-bottom: 4rem;}

//Cards
.card-transparent {background-color: transparent;}

//Product Link
.product-link:hover p {text-decoration: none; color: darkslategray;}